/* pages/sobre.css */

section.sobre {
    padding: 15px 4%;
}

section.sobre .flex {
    gap: 60px;
}

section.sobre .interface-centralized .flex .sobre-img img {
    width: 400px;
    height: auto;
    border-radius: 20%;
    margin: 50px 0;
}

section.sobre .interface-centralized .flex .sobre-img img:hover {
    transform: scale(1.1);
    border-radius: 20%;
    transition: 0.3s;
}

section.sobre .interface-centralized .flex .sobre-text h2 {
    color: var(--cor-texto-claro);
    font-size: 35px;
    line-height: 40px;
    margin-top: 4px;
}

section.sobre .interface-centralized .flex .sobre-text h2 span {
    color: var(--cor-primaria);
    display: block;
    margin-bottom: -14px;
}

section.sobre .interface-centralized .flex .sobre-text p {
    color: var(--cor-texto-claro);
    margin: 20px 0;
    text-align: justify;
    font-size: 14px;
}